.mapid {
  height: 500px;
  width: 100%;
  border: 5px solid brown;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map-jarak {
  padding: 50px 0;
}

@media only screen and (max-width: 400px) {
  .mapid {
    height: 300px;
    width: 80%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
  .mapid {
    height: 400px;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .mapid {
    height: 500px;
  }
}

@media only screen and (min-width: 1400px) {
  .mapid {
    height: 600px;
  }
}
